
body{
    display: flex;
    flex-direction: column;
    align-items: center;
   background-color: rgb(196, 196, 196);
}
html{
    background-color: #eee;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    list-style-type: none;
    color: black;
    text-decoration: none;
}
a,a:visited{

}
.header, .hero, .content, .footer{
   width: 1120px;
   background-color: white;
   margin-top: 75px;
   padding: 70px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: none;
}

.header{
    height: 23px;
    background: none;
}

.hero{
    height: 378px;
    padding-right: 10px;
    padding-top: 10px;
    width: 1170px;
    align-items: flex-start;
}

.footer{
    height: 20px;
    background-color: black;
    opacity: 0.8;
    box-shadow: 0.336px 2.978px 7px 0px rgba(11,12,12,0.14);
    align-items: flex-start;
    padding-top: 40px;
}


.footer *{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.502);
    text-transform: uppercase;
    line-height: 1.2;
}

.copyblock{
     display: flex;
     flex-direction: column;
     align-items: flex-end;
}
.social{
    border-top: 10px;

}

.logo, .herotext, .logofooter{
    margin-left: 50px;
}

.herotext{
    margin-top: 50px;
}
.navbar ul{
    display: flex;
    flex-flow: row wrap;
    font-size: 35px;
}


.navbar li a{
    padding: .5em;
    white-space: nowrap;
    color: rgb(3, 97, 9);
}

.search *{
      text-align: center;
      font-size: 17px;
      height: 24px;
      margin-right: 50px;
      border-width: 1px;
      border-color: rgb(194,194,194);
      border-style: solid;
}
.herotext{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px;
    margin-top: 50px;
    width: 380px;
}
.herotext button {
    border-width: 1px;
    border-color: rgb(194,194,194);
    border-style: solid;
    width: 103px;
    height: 30px;
    font-size: 20px;
    
}

@font-face{
    font-family: mkhatvrulia;
    src: url(mkhatvrulia.otf);
}
*{
    font-family: mkhatvrulia;
}
p, button{
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.content{
    border: 1px solid rgb(255, 0, 0);
    height: 200px;
   
}
.hero{
    margin-bottom: 60px;
}